.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: var(--color-primary);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.nav-left {
  flex: 0 0 auto;
}

.logo {
  height: 100px;
  margin-left: 3rem;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.nav-link {
  text-decoration: none;
  color: var(--color-bg);
  font-weight: 500;
  transition: color 0.2s ease;
}

.nav-link:hover {
  color: var(--color-primary-dark);
}

.login-btn {
  padding: 0.5rem 1rem;
  background-color: var(--color-contrast);
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

.login-btn:hover {
  background-color: var(--color-primary-dark);
}
