.admin-dashboard {
  display: flex;
  min-height: 80vh;
}

.sidebar {
  width: 250px;
  background: #f4f4f4;
  padding: 1rem;
  border-right: 1px solid #ddd;
}

.sidebar li {
  cursor: pointer;
  padding: 0.5rem;
}

.sidebar li.active {
  background: var(--color-primary);
  color: #fff;
  border-radius: 6px;
}

.main-view {
  flex: 1;
  padding: 2rem;
}
